

/* Basic */

	// MSIE: Required for IEMobile.
		@-ms-viewport {
			width: device-width;
		}

	// MSIE: Prevents scrollbar from overlapping content.
		body {
			-ms-overflow-style: scrollbar;
		}

	// Ensures page width is always >=320px.
		@include breakpoint('<=xsmall') {
			html, body {
				min-width: 320px;
			}
		}

	// Set box model to border-box.
	// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
		html {
			box-sizing: border-box;
		}

		*, *:before, *:after {
			box-sizing: inherit;
		}

	body {
		background-color: _palette(bg);
    background-image: url('../../assets/images/bg_texture.png');
    background-repeat:repeat;

		// Stops initial animations until page loads.
			&.is-preload {
				*, *:before, *:after {
					@include vendor('animation', 'none !important');
					@include vendor('transition', 'none !important');
				}
			}

	}

#contact {
  width: 100%;
  margin-top: 4em;
  .prophecy {
    background-image: url('../../assets/images/parchment.png');
    background-repeat: no-repeat;
    background-size:contain;
    height: 400px;
    transform: rotate(-3deg);
    margin-top: 4em;
    position: relative;
    z-index: 30;

    blockquote.prophecyText {
      border-left: none;
      font-family: Georgia;
      color: rgba(#3f0000,0.9);
      padding: 20px 72px 0px 60px;
      font-size: 20px;
      line-height: 30px;
      &:first-child:first-letter {
        color: #903;
        float: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 80px;
        line-height: 40px;
        padding-top: 12px;
        padding-right: 8px;
        padding-left: 3px;
        font-style: normal;
        transform: rotate(1.5deg);
      }

    }
    .citation {
      transform: rotate(3deg);
      text-align: right;
      margin-right: 48px;
      font-size: 16px;
      padding-top: 16px;
    }
  }
  .contactForm {
    background-color: darken(rgba(#2c056c,0.25),50%);
    border-radius: 8px;
    padding-bottom: 1.5em;

    .row {
      padding-right: 1.5em;
    }
    header.minor {
      h2, h4 {
        color: #ba5a80;
        font-weight: 700;
        text-shadow: rgba(#fff,0.25);
      }
    }
    input, textarea {
      margin-top: 8px;
      margin-bottom: 16px;
      border-radius: 2px;
      margin-left: 0;
      font-size: 16px;
      &::placeholder {
        color: #fff;
        opacity: 0.8;
      }
    }
  }
}

iframe.MCform {
  padding: 0;
  margin: 0;
  width: 558px;
  height: 900px;
  overflow: hidden;
  border-radius: 4px;
}


.strategy {
  width: 80%;
  img {
    height: 300px;
    margin: 0 auto;
  }
}

