

/* Wrapper */

	#wrapper {
		width: _size(inner);
		max-width: calc(100% - 4em);
		margin: 0 auto;

		@include breakpoint('<=xsmall') {
			//max-width: calc(100% - 2em);
      max-width: 100%;
      overflow-x: hidden;
      padding-bottom: 16px;
      margin-bottom: 24px;
		}

		@include breakpoint('<=xxsmall') {
			max-width: 100%;
      overflow-x: hidden;
      padding-bottom: 16px;
      margin-bottom: 24px;
		}
	}
