

/* Image */

	.image {
		border-radius: _size(border-radius);
		border: 0;
		display: inline-block;
		position: relative;

		img {
			border-radius: _size(border-radius);
			display: block;
		}

		&.left,
		&.right {
			max-width: 40%;

			img {
				width: 100%;
			}
		}

		&.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		&.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		&.fit {
			display: block;
			margin: 0 0 _size(element-margin) 0;
			width: 100%;

			img {
				width: 100%;
			}
		}

		&.main {
			display: block;
			margin: 0 0 (_size(element-margin) * 1.5) 0;
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

  @keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .sigilPositioner {
    position: relative;
    z-index: 100;
    opacity: 40%;
    #sigil, #sigil2 {
      position: absolute;
      top: 23vh;
      left: 0;
      max-width: 30vw;
      transform: rotate(-16deg);
      animation: rotation 500s infinite;
      z-index: 15;
      @include breakpoint('<=medium') {
        left: -10vw;
        top: 0;
        max-width: 30vw;
      }

    }
    #sigil2 {
      top: 23vh;
      left: 0.5vw;
      transform: rotate(-13deg);
      animation: rotation 500s infinite;
      filter: blur(4px);
      z-index: 8;
      @include breakpoint('<=medium') {
        left: -9.5vw;
        top: 0;
      }
    }
  }

  .serviceIntro {
    position: relative;
    p {
      font-size: 18px;
      padding-right: 16px;
    }
  }
  .serviceIcon {
    transform: rotate(-6deg);
    width: 30%;
    position: relative;
    top: -3em !important;
    &.ideation {
      margin-bottom: -2em;
      transform: rotate(-1deg);
    }
    &.dataScience {
      margin-bottom: -1em;
      transform: rotate(-3deg);
    }
    &.infoArts {
      margin-bottom: 0em;
      transform: rotate(-2deg);
    }
    @include breakpoint('<=medium') {
      &.dataScience, &.ideation, &.infoArts {
        margin-bottom: -2.75em;
      }
    }
  }
  h2.service {
    font-size: 1em;
    font-variant: small-caps;
    font-weight: 700;
    color: purple !important;
    margin: 0;
  }
  h3.service {
    font-size: 2em;
    font-weight: 700;
  }
